.header {
    min-height: 66px;
    background: #29313C;
    padding: 15px 27px;
    display: flex;
    border-bottom: 1px solid #808080;
}

.logo-link {
    display: flex;
    align-items: center;
}
