.sidebar {
    width: 80px;
    background: #323A45;
    padding: 0 15px;
}

.main-nav__list {
    display: flex;
    flex-direction: column;
}

.main-nav__item + .main-nav__item {
    margin-top: 10px;
}

.main-nav__link {
    padding: 12px;
    background: none;
    border: 0;
    transition: all .5s;
}

.icon-svg-nav {
    width: 16px;
    height: 16px;
    fill: #fff;
}

.main-nav__link.active {
    background: #282E37;
    border-radius: 5px;
    
    svg {
        fill: #00D4FF;
    }
}

.main-nav__link:hover {
    background: rgba(#fff, .1);
    transition: all .5s;
}