.sidebar {
    width: 80px;
    background: #323A45;
    padding: 0 15px;
}

.main-nav ul {
    display: flex;
    flex-direction: column;
}

.main-nav__link {
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
}

.icon-svg-nav {
    width: 16px;
    height: 16px;
    fill: #fff;
}

.main-nav__link.active {
    background: #282E37;
    border-radius: 5px;
    
    svg {
        fill: #00D4FF;
    }
}

