* {
  box-sizing: border-box;
}

html, body, #root {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F4F9FB;
  color: #475364;
}

#root {
  display: flex;
  flex-direction: column;
  min-width: 1160px;
}

a, a:hover, a:active, a:visited {
  color: #000;
  text-decoration: none;
}

ul, ol {
  padding: 0;
}

li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.gray-text {
  color: #8EA4B5;
  font-size: 11px;
}
